{% extends 'reservas/base.html' %}

{% block step_indicator %}
{% if current_step %}
<div class="step-indicator">
  <span class="step {% if current_step >= 1 %}active{% endif %}">1. Seleccionar Cafetería</span>
  <span class="step {% if current_step >= 2 %}active{% endif %}">2. Seleccionar Día</span>
  <span class="step {% if current_step >= 3 %}active{% endif %}">3. Seleccionar Horario</span>
  <span class="step {% if current_step >= 4 %}active{% endif %}">4. Seleccionar Mesa</span>
  <span class="step {% if current_step >= 5 %}active{% endif %}">5. Confirmar Reserva</span>
  <span class="step {% if current_step >= 6 %}active{% endif %}">6. Reserva Finalizada</span>
</div>
{% endif %}
{% endblock %}

{% block content %}


<div class="container-wide">
<div class="page-header">
  <a href="{% url 'home_cliente' %}" class="back-button" style="margin-right:10px;">Ir a inicio</a>
  <h2>☕ Realizar Reserva</h2>
</div>

<p class="info">
  Selecciona una cafetería para continuar con la reserva de una mesa.
</p>

{% load tz %}
{% now "H:i:s" as hora_actual %}

<div class="cafeterias-list">
  {% for item in cafeterias_estado %}
    <div class="cafeteria-card">
      <h3>{{ item.cafeteria.nombre }}</h3>
      {% if item.abierta %}
        <span class="estado abierto">Abierta ahora</span>
      {% else %}
        <span class="estado cerrado">Cerrada ahora</span>
      {% endif %}
      <p>
        🏢 <strong>Bloque:</strong> {{ item.cafeteria.bloque.numero_bloque }} - {{ item.cafeteria.bloque.facultad.nombre }}
      </p>
      <p>
        📍 <strong>Ubicación:</strong> {{ item.cafeteria.ubicacion }}
      </p>
      <p>
        🕒 <strong>Horario:</strong>
        {{ item.cafeteria.hora_apertura|time:"H:i" }} – {{ item.cafeteria.hora_cierre|time:"H:i" }}
      </p>
      <p>
        👥 <strong>Capacidad:</strong> {{ item.cafeteria.capacidad }} personas
      </p>
      <a class="btn"
      href="{% url 'reservas:calendario_general' item.cafeteria.id %}">
      Reservar en esta cafetería
      </a>
    </div>
  {% empty %}
   <div class="empty">
      ☕ No hay cafeterías disponibles en este momento.
    </div>
  {% endfor %}
</div>
</div>



{% endblock %}

