{% extends "reservas/base.html" %}

{% block content %}

<div class="confirmacion-container">

  <div class="confirmacion-header">
    <span class="icono-exito">✅</span>
    <h2>Reserva confirmada</h2>
    <p class="mensaje-exito">
      Tu reserva se ha realizado correctamente.
    </p>
  </div>

  <div class="confirmacion-card">
    <h3 class="text-center">📄 Detalles de la reserva</h3>

    <p>
      <strong>Código Reserva:</strong>
      <span class="codigo">{{ reserva.codigo }}</span>
    </p>

    <p>
      <strong>Mesa seleccionada:</strong>
      {{ mesa.codigo }}
    </p>
    <p>
      <strong>Capacidad de la mesa:</strong>
      {{ mesa.capacidad }} personas
    </p>
    <p>
      <strong>Fecha reservada para:</strong>
      {{ fecha_seleccionada|date:"d M Y" }}
    </p>
    <strong>Horario:</strong>
      {{ reserva.hora_inicio|time:"H:i" }} – {{ reserva.hora_fin|time:"H:i" }}
    </p>

    <p>
      <strong>Fecha de creación de reserva:</strong>
      {{ reserva.fecha_creacion|date:"d M Y" }}
    </p>

    <p>
      <strong>Plazo límite de cancelación:</strong>
      {{ reserva.plazo_limite|date:"d M Y" }}
    </p>
    <p>
      
  </div>

  <div class="acciones-finales">
    <a href="{% url 'reservas:realizar_reserva' %}" class="btn">
      ➕ Realizar otra reserva
    </a>
    <a href="{% url 'home_cliente' %}" class="btn" style="margin-left: 10px;">🏠 Ir a inicio</a>
  </div>

</div>

{% endblock %}
